<section id="services">
    <div class="container">
        <div class="row">
            <!-- <div class="collection-title" style="opacity: 1;display: block;transform: translateX(0px);">
                <h1 class="archives-year" style="opacity: 1;display: block;transform: translateX(0px);">
                    
                </h1>
            </div> -->

            <div class="col-md-8">
                <h2>ARCHIVES</h2>
                <div class="row boxes">
                    <% var year %>
                    <% page.posts.each(function(item){ %>
                        <% var post_year=date(item.date, "YYYY") %>
                        <% if(year != post_year) { %>
                            <% if(item.prev) { %>
                                </ul>
                                </div>
                            <% } %>
                            <div class="archive">
                            <a class="archives-year">
                                <%= post_year %>年<span class="sb-caret"></span>
                            </a>
                            <ul class="sub-archives">
                        <% } %>
                            <li>
                            <span class="post-meta"><%= item.date.format("MM-DD") %>|</span>
                            <a href="<%- config.root %><%- item.path %>"><%= item.title %></a>
                            </li>
                            <% year = post_year %>
                        <% if(item.next==null) { %>
                            </ul>
                            </div>
                        <% } %>
                    <% }); %>
                </div>
            </div>    
        </div>
    </div>
</section>
<section id="statement">
    <div class="container text-center wow fadeInUp" data-wow-delay="0.5s">
        <div class="row">
            <p><%- theme.bottom_saying %></p>
        </div>
    </div>
</section>